<!DOCTYPE html>
<html>
<head>
    <title>Protea</title>
    <script src="https://cdn.agora.io/sdk/web/AgoraRTCSDK-2.3.1.js"></script> 

</head>
<body>

<div id="main"></div>
<script src="/static/dist/bundle.js"></script>
<script>
    var socket  = new WebSocket('ws://'+ window.location.host + '/user/');
    socket.onopen = function open() {
        console.log('WebSockets connection created.');
    };

    if (socket.readyState == WebSocket.OPEN) {
        socket.onopen();
        socket.send(JSON.stringify({
            message: "yolo check me out in the WS frames "
        }));
    }
</script>

</body>
</html>