{% extends 'base.html' %}

{% block title %}
Welcome to Protea
{% endblock title %}

{% block content %}
<div class="ui grid">
    <div class="row">
        <div class="sixteen wide fluid column">
            <h3>
                Protea
            </h3>
            <h5>Which one applies:</h5>
            <p>
                Do you <a href=""><b>need help</b></a> or can you <a href=""><b>provide help</b></a>?
            </p>
            <div id="main"></div>
        </div>

        <script src="https://cdn.agora.io/sdk/web/AgoraRTCSDK-2.3.1.js"></script> 
        <script>
            var socket = new WebSocket('ws://' + window.location.host + '/user/');
            socket.onopen = function open() {
                console.log('WebSockets connection created.');
            };
            socket.onmessage = function (event) {
                console.log(event.data);
            }

            if (socket.readyState == WebSocket.OPEN) {
                socket.onopen();
                socket.send(JSON.stringify({
                    message: "yolo check me out in the WS frames "
                }));
            }
        </script>

    </div>

</div>
{% endblock %}
