{% extends 'base.html' %}

{% block title %}
Welcome to Protea
{% endblock title %}

{% block content %}
<div class="ui grid">
    <div class="row">
        <div class="sixteen wide fluid column">
            <h3>
                Please login using form below
            </h3>
        </div>
        <div class="sixteen wide column">
            <form class="ui form" action="{% url 'user:do_login' %}" method="POST" enctype="application/x-www-form-urlencoded">
                {% csrf_token %}
                <div class="field">
                    <label>Username</label>
                    <input type="text" name="username" placeholder="Username">
                </div>
                <div class="field">
                    <label>Password</label>
                    <input type="password" name="password" placeholder="Password">
                </div>
                <div class="field">
                    <div class="ui checkbox">
                        <input type="checkbox" tabindex="0" class="hidden">
                        <label>I agree to the Terms and Conditions</label>
                    </div>
                </div>
                <button class="ui primary button" type="submit">Submit</button>
            </form>
        </div>


    </div>

</div>
{% endblock %}
