<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock title %}</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
    <script src="/static/semantic-ui/semantic.min.js"></script>
    <link rel="stylesheet" href="/static/semantic-ui/semantic.min.css"/>


</head>
<body>




<div class="ui container">
    <header>
        <div class="ui secondary  menu">
            <!-- <a class="active item">
                Home
            </a> -->

            <div class="right red menu">
                {% if request.user.is_authenticated %}
                <a class="item" href="{% url 'user:messages' %}">
                    Account
                </a>
                <a class="ui item">
                    Logout
                </a>
                {% else %}
                <a class="ui item" href="{% url 'user:login' %}">
                    Register
                </a>
                <a class="ui item" href="{% url 'user:login' %}">
                    Login
                </a>
                {% endif %}
            </div>
        </div>
    </header>
</div>
<br>
<div class="ui container">
    {% block content %}
    {% endblock content %}
</div>

</body>
</html>
